---

---

<div
  class="bg-panda-black text-primary py-4 border-y-4 border-panda-black rotate-[-1deg] scale-105 overflow-hidden whitespace-nowrap relative z-20"
>
  <div
    class="animate-marquee inline-block font-display font-black text-3xl uppercase tracking-widest"
  >
    Stop Doomscrolling • Start Learning • Get The Drip • Fluency For Real • No
    Cap • Stop Doomscrolling • Start Learning • Get The Drip • Fluency For Real
    • No Cap • Stop Doomscrolling • Start Learning • Get The Drip • Fluency For
    Real • No Cap •
  </div>
</div>
