---

---

<nav class="absolute top-0 w-full z-50 px-4 py-4 md:px-8">
  <div
    class="max-w-[1200px] mx-auto bg-white/90 backdrop-blur-md border-2 border-panda-black rounded-full px-6 py-3 flex items-center justify-between shadow-neo-sm"
  ><a href="/">
    <div class="flex items-center gap-2">
      
      <div
        class="size-12 bg-panda-black rounded-full flex items-center justify-center text-primary"
      >
      
        <img src="/panda.png" class="w-8 h-8 object-contain" />
      
      </div>
      <span class="font-display font-bold text-2xl tracking-tight"
        >LingoDrip</span
      >
      
    </div>
    </a>
    
    <a
      href="https://apps.apple.com/us/app/lingodrip/id6757322753"
      class="btn-neo hidden md:flex h-10 px-6 bg-panda-black text-white rounded-full items-center justify-center font-bold text-sm border-2 border-panda-black shadow-neo"
    >
      Get app
    </a>
    <button class="md:hidden text-panda-black">
      <span class="material-symbols-outlined text-3xl">menu</span>
    </button>
  </div>
</nav>
