---

---

<section class="py-20 px-4 overflow-hidden relative leading-none">
  <div class="max-w-[1000px] mx-auto relative">
    <div
      class="bg-panda-black rounded-[3rem] p-8 md:p-12 text-white border-4 border-panda-black shadow-neo-lg text-center relative z-10"
    >
      <span
        class="material-symbols-outlined text-6xl text-primary mb-6 block mx-auto"
        >format_quote</span
      >
      <h3
        class="font-display font-bold text-2xl md:text-4xl leading-tight mb-8"
      >
        "I used to waste hours scrolling. Now I pick up new phrases daily
        without even trying. Highly recommended."
      </h3>

      <div class="flex items-center justify-center gap-4">
        <div
          class="w-12 h-12 rounded-full bg-gray-300 border-2 border-primary overflow-hidden"
          style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC9IPqtnhBG2DHkWSQ6tpWvOweYszGzWx5SNa4tOO32MaEtung1I1ub3mPgPhymPyrlffm3fNweb8LqTFvPATeoY2eiSONpXsqxhHhQDvJ_g-qZHkB0gcJNBDdWQ17CBOqn7Ruf5UJc4zF2x90vF1uAyhdpGJaDnVhDskmM4x42q1LglABvBoJOBZNcgo26pXGJbUqFG6FFztxKz-fWKtDvo8R1lB6RVRjfnszd38Der6A0rx5rk2SiTSy1eCUd0vEHYKsMX3zxH3hi'); background-size: cover;"
        >
        </div>
        <div class="text-left">
          <div class="font-bold text-lg font-display">Alex M.</div>
          <div class="text-primary text-sm font-bold uppercase">Beta User</div>
        </div>
      </div>
    </div>
  </div>
</section>
